:root {
  --bg-color: #101820;
  --main-color: #eedaea;
  --caret-color: #eedaea;
  --sub-color: #cf6bdd;
  --text-color: #eedaea;
  --error-color: #ff5253;
  --error-extra-color: #e3002b;
  --colorful-error-color: #ff5253;
  --colorful-error-extra-color: #e3002b;
}
