:root {
  --bg-color: #262727;
  --main-color: #fff;
  --caret-color: #f0d3c9;
  --sub-color: #665957;
  --text-color: #f0d3c9; /* swapped main-color and text-color */
  --error-color: #bd4141;
  --error-extra-color: #883434;
  --colorful-error-color: #bd4141;
  --colorful-error-extra-color: #883434;
}
