:root {
  --bg-color: #282a36;
  --main-color: #f2f2f2;
  --caret-color: #f2f2f2;
  --sub-color: #bd93f9;
  --text-color: #f2f2f2;
  --error-color: #f758a0;
  --error-extra-color: #732e51;
  --colorful-error-color: #f758a0;
  --colorful-error-extra-color: #732e51;
}
