:root {
  --bg-color: #737373;
  --main-color: #212222;
  --caret-color: #212222;
  --sub-color: #aaaaaa;
  --text-color: #212222;
  --error-color: #c82931;
  --error-extra-color: #ac1823;
  --colorful-error-color: #c82931;
  --colorful-error-extra-color: #ac1823;
}
